* {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  text-align: center;
  min-height: 100%;
}

div.card {
  background-color: white;
  border-radius: 20px;
  width: 320px;
  height: 497px;
  padding: 0;
}

div.card-body {
  padding-top: 0px;
}

.div-img {
  padding: 15px;
}

.img-border {
  border-radius: 10px;
}

h5 {
  color: hsl(218, 44%, 22%);
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 27.72px;
  padding-top: 11px;
}

.card-subtitle {
  color: hsl(220, 15%, 55%);
  padding: 11px 15px 15px;
  font-size: 0.938rem;
  line-height: 18.9px;
}

@media only screen and (min-width: 400px) {
  /* Small devices and up (desktop, portrait tablets and large phones) */
  div.card {
    /* center the container vertically/horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

@media only screen and (max-width: 400px) {
  /* Extra small devices (phones, 600px and down) */
  div.card {
    margin: 50px auto;
  }
}
